img{
    border: 2px solid #dfdfdf;
}

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background-color: #b10333;
    color: #fff;
}

.entrevista h3{
    background-color: #de003e;
}
