#conteudo {
	margin-top: 60px;
	background: #f5f5f5;
}

#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

#primario {
	width: 270px;
	float: left;
	margin: 0 0 20px 195px ;
}

#duas-colunas #primario {
	width: 555px;
}

#uma-coluna #primario {
	width: 750px;
	margin: 0 0 20px 0;
}

#secundario {
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
    clear: both;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}