#conteudo{
    background: #f5f5f5;
    margin-top: 60px;

}

#primario {
    width: 270px;
    float: left;
    margin:  0 0 20px 195px;
    background: blue;
}

#secundario {
    width: 270px;
    float: left;
    background: green;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    background: yellow;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
    clear: both;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}