#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(../Imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
}

/* Menu de News - Parte esquerda inferior */

label{
    display: block;
    cursor: pointer;
    margin-bottom: 3px;
}

input{
    font-size: 0.9em;
    background-color: #fff;
    padding: 5px;
    width: 125px;
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 5px;
}