.cx01_cont{
    text-align: center;
    width: 0 auto;
    margin-top: 9%;
}
.f-dir{
    float: right;
    width: 45%;
}

.f-esq{
    float: left;
    width: 45%;
    margin-top: 15%;
}

.f-esq h1{
    font-size: 50px;
}

.cx01_cont h1, .cx01_cont p{
    color: white;
    text-align: left;
}

