#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos .albuns{
    padding: 10px 0px;
}

#servicos h2, h3{
    color: #7c25f8;
}

/* Parte inferior */

#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
}

#recursos h3{
    color: #9bf0e1;
}

#recursos h2 {
    color: white;
}

#recursos p{
    color: white;
}

.rotacionar{ 
    transform: rotate(30deg);
    padding-left: 80px;
}

/* RODAPE */

footer{
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    cursor: pointer;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0px 7px;
}
