.logo{
    float: left;
} 

.menu{
    float: right;  
}

.menu a{
    text-decoration: none;
    padding: 5px;
    color: black;
}

.nav01{
    margin-top: 10px;
}

.menu2{
    float: left;  
}

.menu2 a{
    text-decoration: none;
    padding: 5px;
    color: #0562b3;
}