*{ 
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica,"Trebuchet MS", sans-serif;
    background: #ffffff url(../Imagens/bg.png);
    margin: 15PX;
}

/* LAYOUT */

#container{
    background: #ede9cc url(../Imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}